@{
    ViewBag.Title = "artmagazine.us";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div id="issueContainer">
    <a target="_blank" href="@Url.Action("Index", new { controller = "Issue", id = 1})">issue one</a><br />
    <a target="" href="#">issue two</a><br />
    <a target="" href="#">issue three</a><br />
    <a target="" href="#">issue four</a><br />
</div>
